body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border: solid thin;
  text-decoration: none;
  outline: none;
  color: black;
  border-radius: 35rem;
}

button:hover {
  box-shadow: 0 0 0 10000px red;
  transition: ease-in 0.3s;
  color: red;
}
