.look-mom-i-can-fly {
  height: 15rem;
  width: 10rem;
  border-radius: 1rem;
  position: absolute;
  animation: bounce 4s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(100px, 500px);
  }
  50% {
    transform: translate(200px, 0px);
    background: green;
  }
  75% {
    transform: translate(90px, -30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.astroworld-album {
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  position: absolute;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 550px);
  }
  to {
    transform: translate(0, -0px);
  }
}
