@media screen and (min-width: 500px) and (max-width: 1200px) {
  .gif {
    width: 35vw;
    height: 35vh;
    object-fit: contain;
  }
}

@media screen and (min-width: 1300px) {
  .gifContainer {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gif {
    width: 25vw;
    height: 25vh;
    object-fit: contain;
  }
}
