:root {
  --main-bg-color: black;
  --second-bg-color: white;
  --main-bg-font: "Shadows Into Light";
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: var(--main-bg-color);
}

.gifBigContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gifContainer {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-gap: 0rem;
}

.gif {
  width: 37vh;
  height: 33vh;
  object-fit: contain;
}

@media screen and (min-width: 380px) {
  .gifBigContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .gifContainer {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gif {
    width: 25vw;
    height: 25vh;
    object-fit: contain;
  }
}
