:root {
  --main-bg-color: black;
  --second-bg-color: white;
  --main-bg-font: "Shadows Into Light";
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: var(--main-bg-color);
}

.gifContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.gif {
  width: 25vw;
  height: 40vh;
  object-fit: cover;
}

@media screen and (min-width: 380px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .gifContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
  }

  .gif {
    width: 25vw;
    height: 40vh;
    object-fit: cover;
  }
}
